[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
markdown = "*"
pyyaml = "==4.2b4"
whoosh = "*"
bleach = "*"
uwsgi = "*"
arxiv-base = "==0.14.3"
python-frontmatter = "*"
python-slugify = "*"
Pygments = "*"
prance = "*"
openapi-spec-validator = "*"
arxiv-auth = "==0.2.3"
"flask-s3" = "*"
mypy-extensions = "*"
gitpython = "*"
lxml = "*"
py-gfm = "*"
"e1839a8" = {path = "."}

[dev-packages]
"nose2" = "==0.8.0"
"typed-ast" = "==1.1.0"
mypy = "==0.650"
pylint = "==2.2.2"
pydocstyle = "==3.0.0"
