.match {
  color: #287916 !important;
  background-color: #EEFFE8 !important;
  font-weight: bold;
}

/* adjusts content to vertically align with interior search bar */
.search-shift-up {
  @media screen and (min-width: 769px) {
    position: relative;
    top: -1.75rem;
  }
}
